/* ESTILO DO TEMPLATE PADRAO */
html {
	font-size: 15px;
	background: #FCFCFC;
	font-family: 'Arimo', 'Droid Sans', helvetica, arial;
	font-weight: 400;
	color: #444;
}
article {
	display: none;
	position: fixed;
	top: 37px;
	width: 100%;
}
header.app-header,
footer.app-footer {
	padding: 5px;
	border-width: 0px; 
	border-style: solid; 
	border-color: white;
	background: #F8F8F8;
	position: fixed;
	width: 100%;
}
header.app-header {
	border-bottom-width: 1px; 
	top: 0%;
	height: 37px;
	box-shadow: 0px 2px 4px -3px #333;
}
header.app-header .left-button,
header.app-header .right-button {
	width: 25%;
}
header.app-header h1 {
	width: 50%;
	text-align: center;
}
header.app-header .left-button,
header.app-header h1{
	float: left;
}
header.app-header .right-button{
	float: right;
	text-align: right;
}
header.app-header:after {
	clear: both;
}

header.app-header .left-button,
header.app-header .right-button {
	margin-top: 3px;
}
header.app-header .left-button input[type=button],
header.app-header .right-button input[type=button]{
	font-size: 0.68rem;
	border: 0px;
	background: transparent;
	color: white;
	text-transform: uppercase;
	display: none;
}
header.app-header .left-button input[type=button] {
	color: #9E001C;
}
header.app-header .right-button input[type=button] {
	color: #4B893F;
}
footer.app-footer {
	border-top-width: 1px; 
	bottom: 0%;
	box-shadow: 0px -2px 4px -3px #333;
}
header h1 {
	font-weight: 300;
}
header.app-header h1 {
	text-align: center;
	font-size: 1.0em;
	line-height: 1.5em;
	color: #666;
}

footer.app-footer nav ul li{
	float:left;
	width: 32%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;	
	font-size: 0.73rem;
	text-shadow: 1px 1px 1px white;
	text-transform: capitalize;
	color: #999;
	font-weight: 400;
}

footer.app-footer nav ul li.first {
	border-right: 1px solid white;
}
footer.app-footer nav ul li.mid {
	border-left: 1px solid #EAEAEA;	
	border-right: 1px solid white;
}
footer.app-footer nav ul li.last {
	border-left: 1px solid #EAEAEA;
}
footer.app-footer nav ul li.active {
	color: #4B893F;
}
footer.app-footer nav ul li.active div{
	color: #F4D02A;
}

footer.app-footer nav ul:after {
	clear:both;
}
/** FIM DO ESTILO TEMPLATE PADRAO **/

/* TELA lista-matches */
/** FIM TELA lista-matches **/
#lista-matches {display: inherit;}
#lista-matches section.pessoas {display: inherit;}
#lista-matches section.arena-troca {display: none;}
#lista-matches header {width: 100%;}
#lista-matches header h1 {
	font-size: 0.79rem;
	color: #C9C9C9;
	text-align: right;
}

#lista-matches section.pessoas ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.755rem;
	color: #AAA;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid white;
}
#lista-matches section.pessoas ul li:nth-child(1) {
	border-top: 0px;
}
#lista-matches section.pessoas ul li div.grupo:after {
	clear: both;
	display:table;
}
#lista-matches section.pessoas ul li div.grupo:after {
	content:"";
	display:table;
}

#lista-matches section.pessoas ul li .col-identificacao {
	float: left;
}

#lista-matches section.pessoas ul li .col-identificacao {
	min-width: 150px;
	margin-left: 1%;
	margin-right: 1%;
}

#lista-matches section.pessoas ul li .col-identificacao h2{
	font-weight: 700;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 1.14rem;
	color: #444;

}
#lista-matches section.pessoas ul li .col-identificacao em{
	font-style: normal;
	font-family: 'Arimo', sans-serif;
}
#lista-matches section.pessoas ul li .col-identificacao aside{
	color: #DDD;
}

#lista-matches section.pessoas ul li .col-action {
	font-family: serif;
}
#lista-matches section.pessoas ul li .col-action,
#lista-matches section.pessoas ul li .col-quantidade {
	float: right;
	margin: 0% 2%;
	margin-top: 5px;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
	font-size: .8rem;
	padding: 8px 6px;

}
#lista-matches section.pessoas ul li .col-quantidade {
	background: #4B893F;
	-moz-border-radius: 15px;
	-webkit-border-radius: -1px;
	border-radius: 36px;
	color: white;
}
