/* ESTILO DO TEMPLATE PADRAO */
html {
	font-size: 15px;
	background: #FCFCFC;
	font-family: 'Arimo', 'Source Sans Pro', 'Droid Sans', helvetica, arial;
	font-weight: 400;
	color: #444;
	overflow-x: hidden; 
}
body {
	background: #F3F3F3;
	min-height: 440px;
}
article {
	position: relative;
	padding-top: 30px;
	width: 99%;
	padding-bottom: 100px;
	display: table;
}
article.fullscreen {
	top: 0px;
}
section {
	position: absolute;
	width:100%;
}
header.app-header,
footer.app-footer {
	border-width: 0px; 
	border-style: solid; 
	border-color: white;
	background: white;
	position: fixed;
	z-index: 999;
	width: 100%;
}
header.app-header {
	border-bottom-width: 1px; 
	top: 0%;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-box-shadow: 0px 2px 4px -3px #333;
	-webkit-box-shadow: 0px 2px 4px -3px #333;
	box-shadow: 0px 2px 4px -3px #333;
}
header.app-header .left-button,
header.app-header .right-button {
	width: 24%;
}
header.app-header .left-button,
header.app-header h1{
	float: left;
}
header.app-header .right-button{
	float: right;
	text-align: right;
}
header.app-header:after {
	clear: both;
	content:"";
	display:table;
}

header.app-header .left-button,
header.app-header .right-button {
	font-size: 0.8em;
}
header.app-header .left-button span.cancel,
header.app-header .right-button span.confirm{
	font-size: 0.58rem;
	border: 0px;
	background: transparent;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
header.app-header .left-button span.cancel {
	color: #9E001C;
}
header.app-header .right-button span.confirm {
	color: #4B893F;
}
footer.app-footer {
	border-top-width: 1px; 
	bottom: 0%;
	-moz-box-shadow: 0px -2px 4px -3px #333;
	-webkit-box-shadow: 0px -2px 4px -3px #333;
	box-shadow: 0px -2px 4px -3px #333;
}
header h1 {
	font-weight: 300;
}
header.app-header h1 {
	text-align: center;
	font-size: 0.9em;
	line-height: 1.3em;
	width: 50%;
	text-align: center;
	color: #111;
	font-family: 'Arimo';
}

footer.app-footer nav ul:after {
	clear: both;
	content:"";
	display:table;
}
footer.app-footer nav ul li{
	float:left;
	width: 32%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;	
	font-size: 0.73rem;
	-moz-text-shadow: 1px 1px 1px white;
	-webkit-text-shadow: 1px 1px 1px white;
	text-shadow: 1px 1px 1px white;
	text-transform: capitalize;
	color: #999;
	font-weight: 400;
	cursor: pointer;
}

footer.app-footer nav ul li.first {
	border-right: 1px solid white;
}
footer.app-footer nav ul li.mid {
	border-left: 1px solid #EAEAEA;	
	border-right: 1px solid white;
}
footer.app-footer nav ul li.last {
	border-left: 1px solid #EAEAEA;
}
footer.app-footer nav ul li.active {
	color: #4B893F;
}
footer.app-footer nav ul li.active div{
	color: #F4D02A;
}

/** FIM DO ESTILO TEMPLATE PADRAO **/

/* TELA trocar-agora */
/** FIM TELA trocar-agora **/
#trocar-agora header {width: 100%;}
#trocar-agora header h1 {
	font-size: 0.79rem;
	color: #C9C9C9;
	text-align: right;
}

#trocar-agora section.pessoas ul li {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.755rem;
	color: #AAA;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid white;
	background: #FCFCFC;
}
#trocar-agora section.pessoas ul li:nth-child(1) {
	border-top: 0px;
}
#trocar-agora section.pessoas ul li div.grupo:after {
	clear: both;
	content:"";
	display:table;
}

#trocar-agora section.pessoas ul li .col-identificacao {
	float: left;
}

#trocar-agora section.pessoas ul li .col-identificacao {
	min-width: 150px;
	margin-left: 1%;
	margin-right: 1%;
}

#trocar-agora section.pessoas ul li .col-identificacao h2,
#trocar-agora section.arena-troca .identificacao h2{
	font-weight: 700;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 1.14rem;
	color: #444;

}
#trocar-agora section.pessoas ul li .col-identificacao em{
	font-style: normal;
	font-family: 'Arimo', sans-serif;
}
#trocar-agora section.pessoas ul li .col-identificacao aside{
	color: #DDD;
}

#trocar-agora section.pessoas ul li .col-action {
	font-family: serif;
}
#trocar-agora section.pessoas ul li .col-action,
#trocar-agora section.pessoas ul li .col-quantidade {
	float: right;
	margin: 0% 2%;
	margin-top: 5px;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
	font-size: .8rem;
	padding: 8px 6px;

}
#trocar-agora section.pessoas ul li .col-quantidade {
	background: #4B893F;
	-moz-border-radius: 15px;
	-webkit-border-radius: -1px;
	border-radius: 36px;
	color: white;
}

.lista-figurinhas ul{
	display: table;
}
.lista-figurinhas ul:after{
	clear: both;
	content:"";
	display:table;
}
.lista-figurinhas .figurinha{
	float: left; 
	margin: 3px;
	width: 30%;
	min-width: 80px;
	max-width: 100px;
	border: 1px solid #EAEAEA;
}
.lista-figurinhas .figurinha:hover {
	border-color: gray;
}
.lista-figurinhas .figurinha button {
	height: auto;
	width: 100%;
	text-align: center;
	border: 4px solid white;	
	font-size: 1.21em;
	font-weight: 300;
	font-family: Arimo;
	padding-top: 40px;
	padding-bottom: 5px;
	-moz-text-shadow: 1px 1px 1px white;
	-webkit-text-shadow: 1px 1px 1px white;
	text-shadow: 1px 1px 1px white;
	-webkit-box-shadow: 0px 2px 6px -3px #999;
	-moz-box-shadow: 0px 2px 6px -3px #999;
	box-shadow: 0px 2px 6px -3px #999;
}

.lista-figurinhas-procuradas .figurinha button {
	color: #A75353;
	background-color: #FAFAFA;
}
.lista-figurinhas-repetidas .figurinha button{
	color: #8BA284;
	background-color: #FAFAFA;
}
.lista-figurinhas-procuradas .figurinha button.selected,
.figurinha-procurada button.selected {
	color: white;
	background-color: #A75353;
	-moz-text-shadow: 1px 1px 1px #A75353;
	-webkit-text-shadow: 1px 1px 1px #A75353;
	text-shadow: 1px 1px 1px #A75353;
}
.lista-figurinhas-repetidas .figurinha button.selected,
.figurinha-repetida button.selected {
	color: white;
	background: #8BA284;	
	-moz-text-shadow: 1px 1px 1px #8BA284;
	-webkit-text-shadow: 1px 1px 1px #8BA284;
	text-shadow: 1px 1px 1px #8BA284;
}
.listagem:after,
.figurinhas-container:after {
	clear: both;
	content:"";
	display:table;
}

#trocar-agora .form-connect {
	margin: 7px;
	background: white;
	padding: 21px;
	box-shadow: 0px 1px 4px 1px #CCC;
	border-radius: 3px;
}

#trocar-agora .form-connect input[type="text"] {
	padding: 6px;
	width: 100%;
	font-size: .9rem;
	border: 1px solid #AAA;
	margin-bottom: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}

#trocar-agora .form-connect div.input-subtitle {
	font-size: 0.8rem;
	color: #CCC;
	margin-bottom: 10px;
}

#trocar-agora .form-connect button {
	width: 100%;
	padding: 8px;
	background: #4B893F;
	border: 1px solid white;
	color: white;
	font-size: 1.1rem;
	font-family: Arimo;
}

#trocar-agora header {
}

#trocar-agora header aside {
	font-size: 0.8em;
	color: #777;
	background: #FEFEFE;
	padding: 10px;
}

#trocar-agora .pessoas ul li {
	cursor: pointer;
}

#trocar-agora .arena-troca {
	padding: 1px;
	background: white;
	border: 1px solid #EAEAEA;
}
#trocar-agora .arena-troca .identificacao {
	float: left;
	width: 50%;
}
#trocar-agora .arena-troca .identificacao h3 {
	padding: 5px; 
	color: #999;
	font-size: .87em;
	padding-bottom: 0px;
}
#trocar-agora .arena-troca .identificacao aside {
	padding: 5px; 
	color: #BBB;
	font-size: .8em;
}
#trocar-agora .arena-troca .identificacao strong{
	font-weight: 400;
	font-size: 0.9em;
	margin-right: 7px;
	color: #DADADA;
	font-family: "Source Sans Pro", helvetica;
}

#trocar-agora .arena-troca .listagens {
	margin-top: 15px;
}
#trocar-agora .arena-troca .listagens nav:after,
 #trocar-agora .arena-troca .listagens:after {
	clear: both;
	content:"";
	display:table;	
}

#trocar-agora .arena-troca .listagens .needed,
#trocar-agora .arena-troca .listagens .available{
	padding: 5px;
	color: white;
	width: 120px;
	background: transparent;
}

#trocar-agora .arena-troca .subtitle {	
	float:left;
	width: 45%;
	margin-top: 25px;
}
#trocar-agora .arena-troca .subtitle nav div{
    font-weight: 300;
    font-size: 0.79em;
	color: #999;
	margin-top: 5px;
	text-align: right;
}
#trocar-agora .arena-troca .subtitle span {
	color: white;
	padding-left: 4px;
	padding-right: 4px;
	margin: 0px;
}
#trocar-agora .arena-troca .needed-subtitle {
	background: #A75353;
	border: 1px solid #A75353;
}
#trocar-agora .arena-troca .available-subtitle {
	background: #8BA284;
	border: 1px solid #8BA284;
	margin-right: 8px;
}
