html {
	font-size: 16px;
	background: #FCFCFC;
	font-family: helvetica;
}
article {
	display: none;
	position: fixed;
	top: 37px;
}
header.app-header,
footer.app-footer {
	padding: 5px;
	border-width: 0px; 
	border-style: solid; 
	border-color: white;
	background: #F8F8F8;
	position: fixed;
	width: 100%;
}
header.app-header {
	border-bottom-width: 1px; 
	top: 0%;
	height: 37px;
	box-shadow: 0px 2px 4px -3px #333;
}
footer.app-footer {
	border-top-width: 1px; 
	bottom: 0%;
	box-shadow: 0px -2px 4px -3px #333;
}
header h1 {
	font-family: 'Source Sans Pro', 'Droid Sans', helvetica, arial;
	font-weight: 300;
}
header.app-header h1 {
	text-align: center;
	font-size: 1.1em;
	line-height: 1.5em;
	color: black;
}

footer.app-footer nav ul li{
	float:left;
	width: 32%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;	
	font-size: 0.7rem;
	text-shadow: 1px 1px 1px white;
	text-transform: capitalize;
	color: #999;
}

footer.app-footer nav ul li.first {
	border-right: 1px solid white;
}
footer.app-footer nav ul li.mid {
	border-left: 1px solid #EAEAEA;	
	border-right: 1px solid white;
}
footer.app-footer nav ul li.last {
	border-left: 1px solid #EAEAEA;
}
footer.app-footer nav ul li.active {
	color: black;
	font-weight: bold;
	color: #4B893F;
}
footer.app-footer nav ul li.active div{
	color: #F4D02A;
}

footer.app-footer nav ul:after {
	clear:both;
}