/* ESTILO DO TEMPLATE PADRAO */
html {
	font-size: 16px;
	background: #FCFCFC;
	font-family: 'Source Sans Pro', 'Droid Sans', helvetica, arial
}
article {
	display: none;
	position: fixed;
	top: 37px;
}
header.app-header,
footer.app-footer {
	padding: 5px;
	border-width: 0px; 
	border-style: solid; 
	border-color: white;
	background: #F8F8F8;
	position: fixed;
	width: 100%;
}
header.app-header {
	border-bottom-width: 1px; 
	top: 0%;
	height: 37px;
	box-shadow: 0px 2px 4px -3px #333;
}
header.app-header .left-button,
header.app-header .right-button {
	width: 25%;
}
header.app-header h1 {
	width: 50%;
	text-align: center;
}
header.app-header .left-button,
header.app-header h1{
	float: left;
}
header.app-header .right-button{
	float: right;
	text-align: right;
}
header.app-header:after {
	clear: both;
}

header.app-header .left-button,
header.app-header .right-button {
	margin-top: 3px;
}
header.app-header .left-button input[type=button],
header.app-header .right-button input[type=button]{
	font-size: 0.68rem;
	border: 0px;
	background: transparent;
	color: white;
	text-transform: uppercase;
	display: none;
}
header.app-header .left-button input[type=button] {
	color: #9E001C;
}
header.app-header .right-button input[type=button] {
	color: #4B893F;
}
footer.app-footer {
	border-top-width: 1px; 
	bottom: 0%;
	box-shadow: 0px -2px 4px -3px #333;
}
header h1 {
	font-weight: 300;
}
header.app-header h1 {
	text-align: center;
	font-size: 1.1em;
	line-height: 1.5em;
	color: black;
}

footer.app-footer nav ul li{
	float:left;
	width: 32%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;	
	font-size: 0.73rem;
	text-shadow: 1px 1px 1px white;
	text-transform: capitalize;
	color: #999;
	font-weight: 400;
}

footer.app-footer nav ul li.first {
	border-right: 1px solid white;
}
footer.app-footer nav ul li.mid {
	border-left: 1px solid #EAEAEA;	
	border-right: 1px solid white;
}
footer.app-footer nav ul li.last {
	border-left: 1px solid #EAEAEA;
}
footer.app-footer nav ul li.active {
	color: #4B893F;
}
footer.app-footer nav ul li.active div{
	color: #F4D02A;
}

footer.app-footer nav ul:after {
	clear:both;
}
/** FIM DO ESTILO TEMPLATE PADRAO **/

/* TELA lista-matches */
/** FIM TELA lista-matches **/
#lista-matches {display: block;}
#lista-matches section.pessoas {display: block;}
#lista-matches section.arena-troca {display: none;}
#lista-matches header {width: 100%;}
#lista-matches header h1 {
	font-size: 0.79rem;
	color: #C9C9C9;
	text-align: right;
}